[submodule "edu-rpa-frontend"]
	path = edu-rpa-frontend
	url = https://github.com/edu-rpa/edu-rpa-frontend.git
[submodule "edu-rpa-backend"]
	path = edu-rpa-backend
	url = https://github.com/edu-rpa/edu-rpa-backend.git
[submodule "edurpa-librabry/edurpa-document"]
	path = edurpa-librabry/edurpa-document
	url = https://github.com/edu-rpa/edurpa-document.git
[submodule "edurpa-librabry/edurpa-cloud"]
	path = edurpa-librabry/edurpa-cloud
	url = https://github.com/edu-rpa/edurpa-cloud.git
[submodule "edu-rpa-serverless-robot"]
	path = edu-rpa-serverless-robot
	url = https://github.com/edu-rpa/edu-rpa-serverless-robot.git
[submodule "edurpa-robot-validate-service"]
	path = edurpa-robot-validate-service
	url = https://github.com/edu-rpa/edurpa-robot-validate-service.git
[submodule "bin/edurpa-robot-bin"]
	path = bin/edurpa-robot-bin
	url = https://github.com/edu-rpa/edurpa-robot-bin.git
[submodule "edu-rpa-serverless"]
	path = edu-rpa-serverless
	url = https://github.com/edu-rpa/edu-rpa-serverless.git
